<div class="formulate">
    <h1>Welcome to the ship factory</h1>
    <form id="formis">
        <label>Name:</label>
        <input type="text" name="name">
        <label>Model:</label>
        <input type="text" name="model">
        <label>Faction:</label>
        <input type="text" name="faction">
        <label>Imagen en URL:</label>
        <input name="img">
        <input type="submit" value="Enviar">
    </form>
</div>
<ul id="views"></ul>
<%- include("./history/p_history",{files:files}) %>