<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./head"); %>
</head>

<body>

    <header>
        <%- include('./navBar'); %>
    </header>

    <div>
        <%- include('./usersCreated'); %>
    </div>

    <div>
        <%- include('./productsArray'); %>
    </div>
</body>

</html>