<h2>Aqui podras pedir tu flota</h2>
<form action="/products" method="post">
    <label>Nombre</label>
    <input name="name">
    <label>modelo</label>
    <input name="model">
    <label>imagen</label>
    <input type="file" name="img">
    <input type="submit">
    <button>Enviar</button>
</form>

<%- include('./history/listProducts',{ecommers:ecommers}) %>

    <script>
        let ships;
        fetch('/products').then(result => result.json()).then(json => {
            ships = json.payload;
            let card = ships.forEach(ship => {
                let img = document.createElement('img');
                img.src = ship.thumbnail;
                card.append(img);
            })
        })
    </script>