<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>

    <header>
        <%- include('./navBar'); %>
    </header>
    <h2>Aqui podras pedir tu flota</h2>
    <form id="pilotForm" action="/products" method="post">
        <label>Nombre</label>
        <input name="name">
        <label>modelo</label>
        <input name="model">
        <label>imagen</label>
        <input type="file" name="file">
        <input type="submit">
    </form>
    <div id="pilot-container" class="pilot-container"></div>
    <script>
        let products;
        fetch('/products').then(result => result.json()).then(json => {
            products = json.payload;
            let container = document.getElementById('pilot-container');
            products.forEach(product => {
                let card = document.createElement('div');
                card.setAttribute('class', 'pilot-card');
                let name = document.createElement('p');
                name.setAttribute('class', 'pilot-text');
                name.innerHTML = product.name;
                let model = document.createElement('p');
                model.setAttribute('class', 'pilot-text');
                model.innerHTML = product.model;
                let img = document.createElement('img');
                img.src = product.thumbnail;
                card.append(name);
                card.append(model);
                card.append(img);
                container.append(card);
            })
        })
        let form = document.getElementById('pilotForm');
        const handleSubmit = (evt, form, route) => {
            evt.preventDefault();
            let formData = new FormData(form);
            fetch(route, {
                    method: "POST",
                    body: formData
                })
                .then(result => result.json()).then(json => console.log(json))
            form.reset();
        }
        form.addEventListener('submit', (e) => handleSubmit(e, e.target, '/products'))
    </script>
</body>

</html>