<h1>Login</h1>
<a href="/">Menu Principal</a>
<br>

<br><br>
<form action="/loginForm" method="post">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Iniciar sesion">
</form>
<a href="/signup"Aun no estas registrado?</a>