<h1>Signup</h1>
<a href="/">Menu principal</a>
<br>
<br>
<form action="/signupForm" method="post">
    <label>Name:</label>
    <input type="text" name="name">
    <label>Username:</label>
    <input type="text" name="username">
    <label>Mail:</label>
    <input type="email" name="mail">
    <label>Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Sign up">
</form>
<a href="/login">Ya tienes sesion?</a>