<nav>
    <ul>
        <li>
            <a href="/">Home/Users</a>
        </li>
        <li>
            <a href="/products">productsSelect</a>
        </li>
        <li>
            <a href="/chat">chat</a>
        </li>
    </ul>
</nav>