<div>
    <h1>Carrito</h1>
    <form id="cartsForm">
        <label>Nombre para el carrito</label>
        <input name="name">
        <input type="submit">
    </form>
    <span id="cart-container" class="pilot-container"></span>
</div>
<script>
    let carts;
    fetch('/carts').then(result => result.json()).then(json => {
        carts = json.payload;
        let containerC = document.getElementById('cart-container');
        carts.forEach(cart => {
            let card = document.createElement('div');
            card.setAttribute('class', 'pilot-card');
            let name = document.createElement('p');
            name.setAttribute('class', 'pilot-text');
            name.innerHTML = cart.name;
            card.append(name);
            containerC.append(card);
        })
    })
    let formCart = document.getElementById('cartsForm');
    const handlesubmit = (evt, formCart, route) => {
        evt.preventDefault();
        let formDate = new FormData(formCart);
        fetch(route, {
                method: "POST",
                body: formDate
            })
            .then(result => result.json()).then(json => console.log(json))
        formCart.reset();
    }
    formCart.addEventListener('submit', (e) => handlesubmit(e, e.target, '/carts'))
</script>
<%- include('./history/cartsH',{carts:carts}) %>