<% if (carts.length>0) { %>
    <% carts.forEach(cart => { %>
        <div>
            <p>
                <%=cart.name  %>
            </p>
        </div>
        <% }) %>
            <% } else { %>
                <p>Por ahora, no hay informacion disponible</p>
                <% } %>