<!DOCTYPE html>
<br lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div>
    <h2>Bienvenido</h2>
    <form action="/signupForm" method="post" class="formuser">
        <label>Nombre</label>
        <input type="text" name="name" class="swal2-input">
        <label>Usuario:</label>
        <input type="text" name="username" class="swal2-input">
        <label>Edad:</label>
        <input type="text" name="age" class="swal2-input">
        <label>Mail:</label>
        <input type="text" name="mail" class="swal2-input">
        <label>Contraseña:</label>
        <input type="text" name="password" class="swal2-input">
        <input type="submit" value="Registrarse" class="swal2-input">
    </form>
</div>
</body>

</html>
<p id="user"></p>
<script src="https://unpkg.com/ejs@3.1.6/ejs.min.js"></script>
<style>
    html {
        background-repeat: no-repeat;
        background-image: url("https://csn.naekranie.pl/wp-content/uploads/2020/04/sw_5e9d7de500b85.jpeg");
        background-position: center top;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
    }
    
    .formuser {
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
    }
    
    label {
        color: white;
    }
    
    h2 {
        color: white;
    }
    
    .swal2-input {
        width: 90% !important;
        margin: .3em 0 1em !important;
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 100%);
        color: white;
        padding: 1%;
        margin-left: 4%;
        margin-right: 4%;
    }
    
    .email {
        font-weight: bold;
        color: rgb(37, 37, 134);
    }
    
    .time {
        color: rgb(151, 40, 40);
        order: 2;
        margin-left: auto;
    }
</style>