<div>
    <h2>Bienvenido</h2>
    <form class="formuser" action="/userLogin" method="post" enctype="multipart/form-data">
        <label for="loginName">Cual es tu nombre?:</label>
        <input name="nameuser" id="loginName" class="swal2-input">
        <label>Edad:</label>
        <input name="age" id="age" class="swal2-input">
        <label>nos faltaria un email:</label>
        <input name="mail" id="mail" class="swal2-input">
        <input type="submit" value="Iniciar Sesion" class="swal2-input">
    </form>
</div>
<%- include("./history/u_history",{users:users}) %>
    <script src="https://unpkg.com/ejs@3.1.6/ejs.min.js"></script>
    <script>
        let user
        let formUser = document.getElementById("formuser")
        let loginName = document.getElementById("loginName")
        let loginAge = document.getElementById("age")
        let loginMail = document.getElementById("mail")

        const userCreate = {
            loginAge,
            loginMail,
            loginName
        }
        const handleSubmit = (e, formUser, route) => {
            e.preventDefault()
            let formData = new FormData(formUser)
            fetch(route, {
                method: 'POST',
                body: formData
            }).then(res => res.json()).then(json => console.log(json))
            form.reset()
        }
        if (formUser) {
            formUser.addEventListener("submit", (e) => handleSubmit(e, e.target, "/user"))
        }

        fetch("/user").then(us => us.json()).then(data => user = data.user)
        fetch("history/u_history.ejs").then(us => {
            return us.text()
        }).then(temp => {
            const html = ejs.render(temp, {
                user: user
            })
            userCreate.innerHTML = html
        })
    </script>
    <style>
        .formuser {
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
        }
        
        label {
            color: white;
        }
        
        h2 {
            color: white;
        }
        
        .swal2-input {
            width: 90% !important;
            margin: .3em 0 1em !important;
            background: rgb(255, 255, 255);
            background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 100%);
            color: white;
            padding: 1%;
            margin-left: 4%;
            margin-right: 4%;
        }
        
        .email {
            font-weight: bold;
            color: rgb(37, 37, 134);
        }
        
        .time {
            color: rgb(151, 40, 40);
            order: 2;
            margin-left: auto;
        }
    </style>