.main-container {
    padding: 20px 0;
}

.form-container {
    width: 850px;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    padding: 15px 25px;
    background-color: bisque;
}

.form {
    padding-top: 25px;
}

.title {
    text-align: center;
}

.label {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.form-input {
    margin-bottom: 25px;
}

.image-text {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.submit-button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: rgb(68, 68, 68);
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(138, 248, 64);
}

.submit-button:hover {
    background-color: rgb(100, 179, 48);
}

.pilot-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pilot-card {
    width: 250px;
    height: 300px;
    padding: 15px 10px;
    border: 1px solid black;
    margin: 10px 5px;
    border-radius: 10px;
}

.pilot-card img {
    width: 80%;
    text-align: center;
    height: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

.pilot-text {
    text-align: center;
    font-size: 20px;
}

html,
body {
    background-image: url("https://www.logolynx.com/images/logolynx/46/466b40882cc9a58ff5756e14032101c6.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 26px;
    color: white
}

input,
label {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 100%);
    color: white;
    padding: 1%;
    margin-left: 4%;
    margin-right: 4%;
}